apiVersion: v1
kind: Service
metadata:
  name: mongo-service
  namespace: mongo-demo
spec:
  selector:
    app: mongodb
  ports:
  - protocol: TCP
    port: 27017
    targetPort: 27017
  clusterIP: None