apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: mongo-role
  namespace: mongo-demo
rules:
- apiGroups: [""]
  resources: ["pods", "services", "endpoints"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["persistentvolumeclaims"]
  verbs: ["get", "list", "create"]